input[type="number"] {
    width: 50px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
    background-color: lightgreen;;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: black;
}

label {
    color: lightgreen;
}

button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
    background-color: lightgreen;;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: black;
}

button:hover {
    background-color: #72BA72;
    border-color: rgba(0,0,0,0.5);
}

button:disabled {
    background-color: lightgray;
}

#canvasContainer {
    background-color: black;
    padding: 10px;
    border: 3px solid lightgray;
    width: 800px;
    margin: 50px;
}

#gameCanvas {
    width: 800px;
    height: 800px;
}

#labels {
    color: lightgreen;
    margin: 5px;
}

#genText {
    margin-bottom: 0;
    float: right;
}

#popText {
    float: right;
}



body {
    background: repeat-x white top;
    background-position-x: 100%;
    background-position-y: 0;
}

form {
    margin-bottom: 20px;
}
select {
    padding:3px;
    height: 20px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:
            0 3px 0 #ccc,
            0 -1px #fff inset;
    -moz-box-shadow:
            0 3px 0 #ccc,
            0 -1px #fff inset;
    box-shadow:
            0 3px 0 #ccc,
            0 -1px #fff inset;
    background: lightgreen;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    cursor:pointer;
}